Content-Type:text/html

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>けいじばん</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/cookie.js"></script>
    <script src="assets/bbs.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>けいじばん</h1>
        <button type="button" id="user_info" onClick="change_name()"></button>
      </div>
      <div id="contents">
        <ul>

